@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
  --emphasis-text-color: #00edd1;
  --bg-gray: #fafafa;
  --sub-info-text-color: #8c8c8c;
}

/* semantic color variables for this project */
:root {
  --background-image-left-side: url("src/assets/img/pattern-1.png");
  --background-color: #fff;
  --icon-hover-color: #cbd5e1;
  --text-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

.dark-theme {
  --background-image-left-side: url("src/assets/img/pattern-2-dark.png");
  --background-color: #333333;
  --icon-hover-color: #fff;
  --text-color: white;
  --sub-info-text-color: #dbdbdb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}
