@import './base.css';
@import './landing-page.css';
@import './content.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  background-color: var(--background-color);
  position: relative;
  overflow: hidden;
}

.index-left, .index-right {
  width: 100%;
}

.moon-icon {
  z-index: 10;
}
.sun-icon {
  color: #edd100;
  z-index: 10;
}

.sun-icon:hover, .moon-icon:hover {
  cursor: pointer ;
  filter:drop-shadow(3px 2px 1px rgba(149, 157, 165, 0.5))
}

.spotlight {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: var(--emphasis-text-color);
  top: 0;
  transform: translateX(-50%) translateY(-50%);
  filter:blur(150px);
  z-index: 1;
}

@media (width >= 1024px) {
  .index-left, .index-right {
    width: 50%;
  }

  .index-left > div {
    padding: 0 6rem;
    top: 0 !important;
    position: sticky;
  }

  .index-left {
    background-image: var(--background-image-left-side);
    background-attachment: fixed;
  }

  .index-right {
    padding: 1rem 1rem 1rem .6rem;
  }

  .sun-icon, .moon-icon {
    position: fixed;
    top: 2rem;
    left: 6rem;
  }

  .spotlight {
    z-index: -1;
  }

}

